# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
Organizations:

    - &OrdererOrg
        Name: OrdererOrg

        ID: OrdererMSP

        MSPDir: crypto-config/ordererOrganizations/lgy.com/msp

        Policies:
            Readers:
                Type: Signature
                Rule: "OR('OrdererMSP.member')"
            Writers:
                Type: Signature
                Rule: "OR('OrdererMSP.member')"
            Admins:
                Type: Signature
                Rule: "OR('OrdererMSP.admin')"

    - &Org1

        Name: Org1MSP

        ID: Org1MSP

        MSPDir: crypto-config/peerOrganizations/org1.lgy.com/msp

        Policies:
            Readers:
                Type: Signature
                Rule: "OR('Org1MSP.admin', 'Org1MSP.peer', 'Org1MSP.client')"
            Writers:
                Type: Signature
                Rule: "OR('Org1MSP.admin', 'Org1MSP.client')"
            Admins:
                Type: Signature
                Rule: "OR('Org1MSP.admin')"

        AnchorPeers:
            - Host: peer0.org1.lgy.com
              Port: 8051

    - &Org2

        Name: Org2MSP

        ID: Org2MSP

        MSPDir: crypto-config/peerOrganizations/org2.lgy.com/msp

        Policies:
            Readers:
                Type: Signature
                Rule: "OR('Org2MSP.admin', 'Org2MSP.peer', 'Org2MSP.client')"
            Writers:
                Type: Signature
                Rule: "OR('Org2MSP.admin', 'Org2MSP.client')"
            Admins:
                Type: Signature
                Rule: "OR('Org2MSP.admin')"

        AnchorPeers:
            - Host: peer0.org2.lgy.com
              Port: 8051

Capabilities:
    Channel: &ChannelCapabilities
        V1_4_3: true
        V1_3: false
        V1_1: false
    Orderer: &OrdererCapabilities
        V1_4_2: true
        V1_1: false

    Application: &ApplicationCapabilities
        V1_4_2: true
        V1_3: false
        V1_2: false
        V1_1: false

Application: &ApplicationDefaults

    Organizations:
    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"

    Capabilities:
        <<: *ApplicationCapabilities

Orderer: &OrdererDefaults

    OrdererType: solo

    Addresses:
        - orderer.lgy.com:7050

    BatchTimeout: 2s

    BatchSize:

        MaxMessageCount: 10

        AbsoluteMaxBytes: 99 MB

        PreferredMaxBytes: 512 KB

    Kafka:
        Brokers:
            - 127.0.0.1:9092

    EtcdRaft:
        Consenters:
            - Host: orderer1.lgy.com
              Port: 8050
              ClientTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer1.lgy.com/tls/server.crt
              ServerTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer1.lgy.com/tls/server.crt
            - Host: orderer2.lgy.com
              Port: 8050
              ClientTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer2.lgy.com/tls/server.crt
              ServerTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer2.lgy.com/tls/server.crt
            - Host: orderer3.lgy.com
              Port: 8050
              ClientTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer3.lgy.com/tls/server.crt
              ServerTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer3.lgy.com/tls/server.crt
#            - Host: orderer4.lgy.com
#              Port: 8050
#              ClientTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer4.lgy.com/tls/server.crt
#              ServerTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer4.lgy.com/tls/server.crt
#            - Host: orderer5.lgy.com
#              Port: 8050
#              ClientTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer5.lgy.com/tls/server.crt
#              ServerTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer5.lgy.com/tls/server.crt

    Organizations:
    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"
        BlockValidation:
            Type: ImplicitMeta
            Rule: "ANY Writers"

Channel: &ChannelDefaults
    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"

    Capabilities:
        <<: *ChannelCapabilities

Profiles:

    TwoOrgsOrdererGenesis:
        <<: *ChannelDefaults
        Orderer:
            <<: *OrdererDefaults
            Organizations:
                - *OrdererOrg
            Capabilities:
                <<: *OrdererCapabilities
        Consortiums:
            SampleConsortium:
                Organizations:
                    - *Org1
                    - *Org2
    TwoOrgsChannel:
        Consortium: SampleConsortium
        <<: *ChannelDefaults
        Application:
            <<: *ApplicationDefaults
            Organizations:
                - *Org1
                - *Org2
            Capabilities:
                <<: *ApplicationCapabilities

    SampleDevModeKafka:
        <<: *ChannelDefaults
        Capabilities:
            <<: *ChannelCapabilities
        Orderer:
            <<: *OrdererDefaults
            OrdererType: kafka
            Kafka:
                Brokers:
                - kafka.lgy.com:9092

            Organizations:
            - *OrdererOrg
            Capabilities:
                <<: *OrdererCapabilities
        Application:
            <<: *ApplicationDefaults
            Organizations:
            - <<: *OrdererOrg
        Consortiums:
            SampleConsortium:
                Organizations:
                - *Org1
                - *Org2

    SampleMultiNodeEtcdRaft:
        <<: *ChannelDefaults
        Capabilities:
            <<: *ChannelCapabilities
        Orderer:
            <<: *OrdererDefaults
            OrdererType: etcdraft
            EtcdRaft:
                Consenters:
                - Host: orderer1.lgy.com
                  Port: 8050
                  ClientTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer1.lgy.com/tls/server.crt
                  ServerTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer1.lgy.com/tls/server.crt
                - Host: orderer2.lgy.com
                  Port: 8050
                  ClientTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer2.lgy.com/tls/server.crt
                  ServerTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer2.lgy.com/tls/server.crt
                - Host: orderer3.lgy.com
                  Port: 8050
                  ClientTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer3.lgy.com/tls/server.crt
                  ServerTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer3.lgy.com/tls/server.crt
#                - Host: orderer4.lgy.com
#                  Port: 7050
#                  ClientTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer4.lgy.com/tls/server.crt
#                  ServerTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer4.lgy.com/tls/server.crt
#                - Host: orderer5.lgy.com
#                  Port: 7050
#                  ClientTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer5.lgy.com/tls/server.crt
#                  ServerTLSCert: crypto-config/ordererOrganizations/lgy.com/orderers/orderer5.lgy.com/tls/server.crt
            Addresses:
                - orderer1.lgy.com:8050
                - orderer2.lgy.com:8050
                - orderer3.lgy.com:8050
#                - orderer4.lgy.com:7050
#                - orderer5.lgy.com:7050

            Organizations:
            - *OrdererOrg
            Capabilities:
                <<: *OrdererCapabilities
        Application:
            <<: *ApplicationDefaults
            Organizations:
            - <<: *OrdererOrg
        Consortiums:
            SampleConsortium:
                Organizations:
                - *Org1
                - *Org2
